<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fitness</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Bootstrap 4 website template">
  <meta name="keywords" content="fitness, bootstrap, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="css/main.min.css">

</head>
<body class="mobile-shift">

<header>

	<div class="fixed-navbar">

		<div class="navbar-lockup">

			<div class="logo">

				<a href=""><img src="img/logo.png" alt="Fitness"></a>

			</div>

			<ul class="nav">

				<li><a href="/login">Login</a></li>
				<li><a href="/signup">Signup</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Services</a></li>

			</ul>

		</div>

	</div>

	<div class="claim-lockup">

		<div class="claim">

			<p class="headline">Fitness In A Can<span>/</span></p>
			<p class="kicker">Yes You Can<span>/</span></p>

		</div>

	</div>

	<div class="angled-overlay"></div>

	<div class="slide-out-nav">

		<ul class="mobile-nav">

			<li><a href="">About</a></li>
			<li><a href="">How It Works</a></li>
			<li><a href="">Services</a></li>
			<li><a href="">FAQ</a></li>
			<li><a href="">Contact</a></li>

		</ul>

		<div class="mobile-nav-slice"></div>

	</div>

	<div class="mobile-nav-toggle">

		<span></span>
		<span></span>
		<span></span>

	</div>

</header>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src=""></script>
</body>
</html>
